<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<script src = "./vue.js"></script>
<body>

    <div id="box">
        <input type="text" v-model="msg">
        <p v-text='msg'></p>
        <p>{{num | toDouble('aaa','bbb')}}</p>
        <ul>
            <li v-for='(value,index) in arr'>{{value,index}}</li>
        </ul>
        <input type="button" value="跟新数据" @click="update()">
        <input type="button" value="销毁vue实例" @click='destroy()'> 
    </div>
    
</body>
</html>
<script>

    Vue.filter('toDouble',function (input,a,b) {
        return input>10?input:'0'+input+a+b
    })
    new Vue({
        el: "#box",
        data:{
            msg:{name:"冯飞林"},
            num: 9,
            arr :['Apple','orange','banana']
        },
        methods:{
            update(){
                this.msg='数据跟新';
            },
            destroy(){
                console.log(this)
                this.$destroy();
            }
        },
        beforeCreate(){
            console.log('Vue实例创建,没有属性'+this.msg)
        },
        created(){
            console.log('Vue实例创建了,已经有属性了'+this.msg)
        },
        beforeMount(){
            console.log('Vue实例嵌入dom元素之前,模板未编译')
        },
        mounted(){
            console.log('Vue实例嵌入dom元素,模板编译')
        },
        beforeUpdate(){
            console.log('组件数据跟新之前')
        },
        updated(){
            console.log('组件数据跟新之后')
        },
        beforeDestroy(){
            console.log('vue实例销毁之前')
        },
        destroyed(){
            console.log('vue实例销毁了')
        }
    })
</script>